<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <roleManager defaultProvider="DefaultRoleProvider" enabled="true">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
   
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.web>
    <siteMap>
      <providers>
        <remove name="MySqlSiteMapProvider" />
      </providers>
    </siteMap>
	  <!-- Authentication access-->
	  <authentication mode="Forms">
		  <forms loginUrl="~/Pages/Login page/Login.aspx" timeout="100">
		  </forms>
	  </authentication>
	  <!--Authorization Process-->
	  <!--<authorization>
		  <deny users="?" />
		  <allow users="*" />
	  </authorization>-->
  </system.web>
	<!--This is the location part-->
	<location path="Pages/Register page/Register.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<!--This is where the location part ends-->
	<location path="Pages/Login page/PasswordRecovery.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<!--This is where the location part ends-->
	
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--donot change sign up and login related-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:catererservicedbserver.database.windows.net,1433;Initial Catalog=CatererServiceDatabase;Persist Security Info=False;User ID=CP380Warriors;Password=Banana12345$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient" />
    <add name="CatererServiceDatabaseEntities" connectionString="metadata=res://*/DBAcces.csdl|res://*/DBAcces.ssdl|res://*/DBAcces.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:catererservicedbserver.database.windows.net,1433;initial catalog=CatererServiceDatabase;persist security info=False;user id=CP380Warriors;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CatererServiceDatabaseConnectionString" connectionString="Data Source=catererservicedbserver.database.windows.net;Initial Catalog=CatererServiceDatabase;User ID=CP380Warriors;Password=Banana12345$"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- Need for email confirmation-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="CP380 Accounts &lt;CP380Acc@CP380.com&gt;">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Users\thanh\source\repos\CatererService\CatererService\TempEmail" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>